# Local ignores, also see ~/.gitignore

# Best practices?
# .gitignore

# A dir of old or temp files
Attic/
etc/
# lib/
# test/lib/
docs/
test/scripts/
asx.zip

node_modules/
npm-debug.log
**/.DS_Store
