# Local ignores, also see ~/.gitignore

# Best practices?
# .gitignore

# A dir of old or temp files
Attic/

# Derived files
dist/
docs/
test/scripts/
models/scripts/
asx.zip

node_modules/
npm-debug.log
**/.DS_Store
